.TopNavbar {
    color:rgb(51, 163, 47);
    
  }
  
  .NavbarItem {
    
    text-align: center;
  }

  .typeText {
    color: rgb(51, 163, 47);
}

.centerIt {
    display: block;
    width: 50%;
    padding-bottom: 10px;
  }

  .footer{
    background-color:rgb(51, 163, 47);
    margin:0px ;
    padding:0px;
    padding: 10px 0px 0px 0px;
}

.text{
  text-align:center;
  padding-top: 25px;
  padding-bottom: 25px;
}

